# glauco data folder 
glauco/glauco_data_full/
glauco/glauco_data_empty/

# dr data folder
dr/dr_data_full/
dr/dr_data_empty/

# .Rhistory files
.Rhistory
dr/dr_scripts/.Rhistory
prio_retino/.Rhistory

# prio_retino folder
prio_retino/xception_binary_classifier_0_full_arch_avg_pool_epochs_3.h5
prio_retino/xception_binary_classifier_1_full_arch_avg_pool_ratio_10_1_epochs_11.h5
prio_retino/xception_binary_classifier_2_full_arch_avg_pool_ratio_2_1_epochs_7.h5
prio_retino/xception_binary_classifier_3_full_arch_avg_pool_epochs_5.h5
prio_retino/xception_binary_classifier_4_full_arch_avg_pool_epochs_5.h5
prio_retino/xception_binary_classifier_5_full_arch_avg_pool_ratio_10_1_epochs_7.h5

# glauco_model folder
glauco/glauco_model/xception_binary_classifier_5_full_arch_avg_pool.h5
glauco/glauco_model/xception_binary_classifier_5_full_arch_avg_pool_ratio_10_1_epochs_7.h5

# dr_models folder
dr/dr_models/xception_binary_classifier_0_full_arch_avg_pool_epochs_1.h5
dr/dr_models/xception_binary_classifier_0_full_arch_avg_pool_epochs_2.h5
dr/dr_models/xception_binary_classifier_0_full_arch_avg_pool_epochs_3.h5

dr/dr_models/xception_binary_classifier_1_full_arch_avg_pool_ratio_10_1_epochs_11.h5 

dr/dr_models/xception_binary_classifier_2_full_arch_avg_pool_ratio_2_1_epochs_1.h5
dr/dr_models/xception_binary_classifier_2_full_arch_avg_pool_ratio_2_1_epochs_2.h5
dr/dr_models/xception_binary_classifier_2_full_arch_avg_pool_ratio_2_1_epochs_3.h5
dr/dr_models/xception_binary_classifier_2_full_arch_avg_pool_ratio_2_1_epochs_4.h5
dr/dr_models/xception_binary_classifier_2_full_arch_avg_pool_ratio_2_1_epochs_5.h5
dr/dr_models/xception_binary_classifier_2_full_arch_avg_pool_ratio_2_1_epochs_6.h5
dr/dr_models/xception_binary_classifier_2_full_arch_avg_pool_ratio_2_1_epochs_7.h5
dr/dr_models/xception_binary_classifier_2_full_arch_avg_pool_ratio_2_1_epochs_8.h5
dr/dr_models/xception_binary_classifier_2_full_arch_avg_pool_ratio_2_1_epochs_9.h5
dr/dr_models/xception_binary_classifier_2_full_arch_avg_pool_ratio_2_1_epochs_10.h5
dr/dr_models/xception_binary_classifier_2_full_arch_avg_pool_ratio_2_1_epochs_11.h5
dr/dr_models/xception_binary_classifier_init_2_full_arch_avg_pool_ratio_2_1_epochs_9.h5

dr/dr_models/xception_binary_classifier_3_full_arch_avg_pool_epochs_3.h5
dr/dr_models/xception_binary_classifier_3_full_arch_avg_pool_epochs_5.h5
dr/dr_models/xception_binary_classifier_3_full_arch_avg_pool_epochs_7.h5            

dr/dr_models/xception_binary_classifier_4_full_arch_avg_pool_epochs_3.h5
dr/dr_models/xception_binary_classifier_4_full_arch_avg_pool_epochs_5.h5
dr/dr_models/xception_binary_classifier_4_full_arch_avg_pool_epochs_7.h5

# some old scripts
dr/dr_scripts/old_scripts/compute_metrics_and_ROC_binary_classifier_2.R
dr/dr_scripts/old_scripts/compute_metrics_and_ROC_binary_classifier_2_init.R
